.myButton{
    background-color:none;
    color: black;
    font-size:2em;
    align-self: center;
    width:2em;
    border-color: rgba(23, 168, 240, 0.7);

}

.myButton:hover{
    background-color: burlywood;
}




.actions {
    text-align: center;
  }
  /* .myButton {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 15%;
    height: 1.5rem;
    background-color: #464646;
    color:  white;
    border: #000000;
  } */
  
  .lab {
  font-weight:bold ;
  color: #464646;
  }

  .form {
    align-items: center;
  }

  .form div {
    margin-top: 1em;

  }
  .form label {
    margin-right: 1em;
    
  
  }